*, *:before, *:after {
  box-sizing: border-box;
}

body, ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  height: 100vh;
}

#sidebar {
  background-color: #60747F;
  width: 200px;
  flex-shrink: 0;
  margin-right: 10px;
  box-shadow: 1px 0 1px #000000;
}

#sidebar > img {
  max-width: 80%;
  display: block;
  margin: auto;
  padding: 10px 0;
}

#content {
  width: 100%;
}

.category {
  background-color: #4A525A;
  font-size: 1.5em;
  cursor: crosshair;
  padding: 10px;
  border-bottom: 1px solid #4B4237;
  border-top: 1px solid grey;
  color: #DCEDFF;
}

.category.expanded, .category:hover {
  background-color: #827081;
  color: #CFD2CD;
  
}

.dropdown {
  display: none;
  padding-left: 20px;
  padding-top: 15px;
  color: #DCEDFF;
}

.dropdown > li {
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 1.2em;
}

.category.expanded + .dropdown {
  display: block;
}

